<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width ,inital-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
    <body>
        <div class ="container"> <h1><center>Syllabus Form <%=title%> </center></h1>
            <div class="row">
                <div class="col-sm-3">
                    
                </div>
                <div class="col-sm-6">
                
                    <form action="/action_page.php">
                        <div class="form-group">
                            <label for=" Department Name">Department Name</label> 
                            <input type="text" class="form-control" placeholder=" Enter Department Name" id="departmentname">
                        </div>
                        <div class="form-group">
                            <label for="year1">Year</label>
                            <select class="form-control"  id="year1"  name="year1">
                                <option>2008</option>
                                <option>2009</option>
                                <option>2010</option>
                                <option>2011</option>
                                <option>2012</option>
                                <option>2013</option>
                                <option>2014</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                            </select>
                        </div>
                        <br>
                        <button type="Submit" class=" btn btn-primary">Submit</button>
                        </form>
                        </div>
                        <div class="col-sm-3">
                    
                        </div>
                    </div>
                    </div>
    </body>
    </html>